<h1>Hellor world, I'm firts compoent from angular cuurse</h1>

<! estamos emplando la interpolacion de angular, la cual consiste en doble llaves, para
permitirno aplicar codigo js dentro de estas, o llamndo a atributos o metodos que tengamos en el compoente,
en su archivo typeScript para ser renderizado en el html de nuestro componente>


<!la forma en que nosotros podemos capturar eventos con angular tambien es mucho mas facil,
simplemente abrinedo parentisis se nos mostrara la lista de eventos que dispone el elmento html
y en base a ellos en las commislas podrresmo escribir codigo js, como por ejemplo mandar a lalmar
metodos del compoente para ejecutar alaguna logica>
<button (click)="sumar()" >this is the sume</button>

<h3>Este es el valor de la suma del metodo definido en el compoente {{num}}</h3>
